/*
    File:       style.css
    Author:     Henrik Henriksson
    Student ID: hehe0601¨
    Contact:    hehe0601@student.miun.se
    Version:    1.0
    Created:    2019-12-18
*/

/* -------------------------------------------------------------------------- */
/* import font families from local folder. */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url('../font/Ubuntu/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: 'Girassol';
  font-style: normal;
  font-weight: 400;
  src: local('Girassol'), url('../font/Girassol/Girassol-Regular.ttf');
}
@font-face {
  font-family: 'Exo_2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo2'), url('../font/Exo_2/Exo2-Regular.ttf');
}
/* -------------------------------------------------------------------------- */
/* Header animation: */
/* -------------------------------------------------------------------------- */
@keyframes setColor {
  from {
    color: gold;
  }
  to {
    color: silver;
  }
}

/* -------------------------------------------------------------------------- */
/* main html and body */
/* -------------------------------------------------------------------------- */
html {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  font-family: 'Girassol', cursive;
  margin: auto;
  max-width: 600px;
  min-height: 100%;
  position: relative;
  text-align: center;
}
/* -------------------------------------------------------------------------- */
/* header section */
/* -------------------------------------------------------------------------- */
header {
  border-bottom: darkgrey 3px solid;
  min-height: 70px;
  padding-bottom: 30px;
  padding-top: 30px;
}

header #brand {
  animation-duration: 4s;
  animation-direction: alternate;
  animation-name: setColor;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: gold;
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  font-variant: small-caps;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 0;
}

header .highlight {
  animation-duration: 4s;
  animation-direction: alternate-reverse;
  animation-name: setColor;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: silver;
  font-size: 48px;
  font-variant: small-caps;
}

header #logo {
  display: inline-block;
  z-index: 1;
}
/* -------------------------------------------------------------------------- */
/* footer section */
/* -------------------------------------------------------------------------- */
footer {
  border-top: darkgrey 3px solid;
  bottom: 0;
  color: gold;
  font-size: small;
  font-variant: small-caps;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer a {
  color: silver;
  text-decoration: none;
}
/* -------------------------------------------------------------------------- */
/* main section of the body */
/* -------------------------------------------------------------------------- */
main {
  color: goldenrod;
  height: fit-content;
  min-height: 700px;
  padding-bottom: 20px;
  padding-top: 20px;
}

#settings {
  font-variant: small-caps;
  padding-bottom: 10px;
  padding-top: 5px;
}

/* Remove the arrow from the dropdown list */
#settings select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Girassol', cursive;
  font-size: 16px;
  text-indent: 1px;
  text-overflow: '';
}
select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

#text_Selector {
  background: rgb(207, 214, 207, 0.8);
  border: 2px solid gold;
  border-radius: 10px;
  color: black;
  padding: 5px;
  text-align: center;
  width: fit-content;
}

/* -------------------------------------------------------------------------- */

#input_Box {
  padding-bottom: 40px;
  padding-top: 10px;
}

#text_Details {
  background: rgb(0, 0, 0, 0.8);
  border: 2px solid gold;
  border-radius: 10px;
  color: goldenrod;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  padding: 0 10px;
  width: 80%;
}

#text_Header {
  text-align: center;
}

#text_Author {
  text-align: center;
}

#text_Info {
  text-align: center;
}

#citations {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  max-width: 90%;
}

.highlighted_Char {
  background-color: rgb(255, 215, 0);
  color: black;
}

.successfull_Char {
  color: rgb(192, 192, 192);
}

.missed_Char {
  background-color: rgb(0, 0, 0);
  color: rgb(139, 0, 0);
}

#user_input {
  background: rgb(207, 214, 207, 0.8);
  border: 2px solid rgb(255, 215, 0);
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  padding: 10px 10px;
  text-align: center;
}
/* hide the placeholder text when in focus */
#user_input:focus::placeholder {
  color: transparent;
}
/* -------------------------------------------------------------------------- */
.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px; /* Preferred icon size
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-green {
  color: green;
}
.material-icons.md-red {
  color: darkred;
}
#start_Button {
  align-content: center;
  background: rgba(211, 168, 27, 0.8);
  border: 2px solid gold;
  border-radius: 10px;
  display: inline-block;
  height: auto;
  margin: auto;
  margin-top: 20px;
  width: fit-content;
}
/* -------------------------------------------------------------------------- */
.statistics {
  display: inline-block;
  margin-bottom: 36px;
  margin-top: 20px;
  width: fit-content;
}

.stat_Table td {
  color: silver;
  font-weight: bold;
  padding-right: 20px;
  text-align: right;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.stat_Table td span {
  color: gold;
}
