/*
    File:       style.css
    Author:     Henrik Henriksson 
    Student ID: hehe0601¨
    Contact:    hehe0601@student.miun.se
    Version:    1.0
    Created:    2019-12-18
*/
/* -------------------------------------------------------------------------- */
/* main html and body */
/* -------------------------------------------------------------------------- */
html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  max-width: 600px;
  margin: auto;
  text-align: center;
  background-image: url(../img/background.jpg);
}
/* -------------------------------------------------------------------------- */
/* header section */
/* -------------------------------------------------------------------------- */
header {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 70px;
  border-bottom: darkgrey 3px solid;
  background: rgb(207, 214, 207, 0.1);
}

header #brand {
  display: inline-block;
  font-variant: small-caps;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: gold;
  font-size: 36px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}
header .highlight {
  font-variant: small-caps;
  color: silver;
  font-size: 48px;
}

header #logo {
  display: inline-block;
  z-index: 1;
}
/* -------------------------------------------------------------------------- */
/* footer section */
/* -------------------------------------------------------------------------- */
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-variant: small-caps;
  font-size: small;
  text-align: center;
  color: gold;
  border-top: darkgrey 3px solid;
}

footer a {
  text-decoration: none;
  color: silver;
}
/* -------------------------------------------------------------------------- */
/* main section of the body */
/* -------------------------------------------------------------------------- */
main {
  min-height: 700px;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
  color: goldenrod;
  background: rgb(207, 214, 207, 0.1);
}
#showcase {
  min-height: 400px;
  border: grey 3px solid;
  background: rgb(207, 214, 207, 0.3);
}

#settings {
  font-variant: small-caps;
  padding-top: 5px;
  padding-bottom: 10px;
}
/* Remove the arrow from the dropdown list */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

#text_Selector {
  text-align: left;
  border: 2px solid gold;
  text-align: center;
  color: black;
  border-radius: 10px;
  background: rgb(207, 214, 207, 0.8);
  padding: 5px;
  width: fit-content;
}

/* -------------------------------------------------------------------------- */

#input_Box {
  padding-top: 10px;
  padding-bottom: 10px;
}

.text_Details {
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: auto;
  display: inline-block;
  border: 2px solid gold;
  color: goldenrod;
  font-size: 14px;
  background: rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#text_Header,
#text_Info {
  text-align: center;
}

#citations {
  padding-left: 5px;
  padding-right: 5px;
}

#user_input {
  text-align: center;
  border: 2px solid gold;
  border-radius: 10px;
  background: rgb(207, 214, 207, 0.8);
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 14px;
}
/* hide the placeholder text when in focus */
#user_input:focus::placeholder {
  color: transparent;
}
/* -------------------------------------------------------------------------- */
.material-icons {
  /* font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  *//* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-green {
  color: green;
}
.material-icons.md-red {
  color: red;
}
#play_Button {
  border: 2px solid gold;
  background: rgba(211, 168, 27, 0.8);
  border-radius: 10px;
  margin: auto;
  height: auto;
  width: fit-content;
  display: inline-block;
  align-content: center;
}
/* -------------------------------------------------------------------------- */
.statistics {
  margin-top: 48px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  width: fit-content;
}
.stat_Table {
}
.stat_Table td {
  font-weight: bold;
  color: silver;
  padding-right: 20px;
  text-align: right;
  padding: 5px;
}
.stat_Table td span {
  color: gold;
}
